.description, .title {
    text-align: center;
    align-content: center;
    font-family: 'Inter', sans-serif;
  }

.page-footer {
  background-color: #2079c7;
  color: white;
  font-family: 'Inter', sans-serif;
}
